In [1]:
# generate random Gaussian values
import random
from random import seed
from random import gauss
import math
import numpy as np
import pandas as pd
#Plot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#log functions for each channel

def channel_1_function(x, y_error_term = 0):
  return (5 * math.log(x+0.001)) + y_error_term

def channel_2_function(x, y_error_term = 0):
  return (10 * math.log(x+0.001)) + y_error_term

def channel_3_function(x, y_error_term = 0):
  return (16 * math.log(x+0.001)) + y_error_term

In [3]:
def random_data_generator(channel_number):
  # seed random number generator
  seed(1)
  x_data = []
  y_data = []

  # generate some Gaussian values
  for value in range(100):
    
    if channel_number == 1:
      x = random.randint(1, 500)
      y_error_term = gauss(0, 1.2)
      x_data.append(x)
      y_data.append(channel_1_function(x, y_error_term))

    elif channel_number == 2:
      x = random.randint(1, 500)
      y_error_term = gauss(0, 1.3)
      x_data.append(x)
      y_data.append(channel_2_function(x, y_error_term))

    elif channel_number == 3:
      x = random.randint(1, 500)
      y_error_term = gauss(0, 3.3)
      x_data.append(x)
      y_data.append(channel_3_function(x, y_error_term))

    df = pd.DataFrame({'spent': x_data, 'clicks': y_data}, columns=['spent', 'clicks'])

  return df

In [4]:
#generate dfs for each channel
df_channel_1 = random_data_generator(1)
df_channel_2 = random_data_generator(2)
df_channel_3 = random_data_generator(3)

#add channel column
df_channel_1["channel"] = "Bing"
df_channel_2["channel"] = "Facebook"
df_channel_3["channel"] = "Google"

df = pd.concat([df_channel_1, df_channel_2, df_channel_3], ignore_index=True)
df.head()

   spent     clicks channel
0     69  19.211102    Bing
1     33  16.572561    Bing
2    131  25.874016    Bing
3    242  28.814998    Bing
4    334  28.456530    Bing

In [5]:
df.to_csv("synthetic_data.csv")